.basicElement {
  position: relative;
  color: var(--color-green-glow);
  backdrop-filter: saturate(0.11) blur(11px);
  /* border: 3px solid var(--color-green-glow); */
  border-radius: 5px;
  /* box-shadow: 0 0 8px 2px var(--color-green-glow); */
  box-shadow: 0 0 11px 3px var(--color-green-glow);
  padding: 0.5rem;
}
.colorBacked {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: stretch;
  height: stretch;
  color: var(--color-dark);
  background-image: url("../assets/matt_glass_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1cqw;
  border-radius: 3px;
}
.whiteBacked {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: stretch;
  height: stretch;
  color: var(--color-dark);
  background: var(--color-light-background);
  padding: 1cqw;
  border-radius: 3px;
}
