.reflectAnim {
  position: relative;
  container-type: inline-size;
  transition: all var(--transition-duration);
  &:hover a,
  &:hover button,
  &:focus-visible a,
  &:focus-visible button {
    display: block;
    color: var(--color-dark);
    transform: translateY(-0.3rem);
  }
  & a,
  & button {
    font-size: min(5cqw, 1.5rem);
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark-faded);
    padding: 0 1rem;
    overflow: hidden;
    transition: 0.4s;
    &.active {
      color: var(--color-dark);
      transform: translateY(-0.3rem);
    }
  }
}
.dark {
  &:hover a,
  &:hover button,
  &:focus-visible a,
  &:focus-visible button {
    color: var(--color-green-glow);
  }
  & a,
  & button {
    color: var(--color-green-faded);
    filter: saturate(3);
    &.active {
      color: var(--color-green-glow);
    }
  }
}
