/* ----------------------------- */
/* FONT IMPORT                   */
/* ----------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* ----------------------------- */
/* VARIABLES                     */
/* ----------------------------- */
:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*COLORS*/
  --color-green-glow: rgba(0, 180, 180, 0.8);
  --color-green-faded: rgba(0, 180, 180, 0.3);
  --color-green-more-faded: rgba(0, 180, 180, 0.11);
  --color-dark: rgba(11, 11, 11, 0.8);
  --color-dark-faded: rgba(11, 11, 11, 0.3);
  --color-red: rgba(255, 80, 80, 0.8);
  --color-light-background: rgba(238, 238, 238, 0.8);
  --color-dark-background: rgba(11, 11, 11, 0.8);
  /*DIMENSIONS*/
  --body-min-width: 330px;
  --icon-height: 1.5rem;
  /*DURATIONS*/
  --transition-duration: 0.8s;
  --animation-duration: 1.5s;
  --animation-delay: 0.3s;
  /*TIMING-FUNCTIONS*/
  --bounce-timing-function: linear(
    0 0%,
    0 2.27%,
    0.02 4.53%,
    0.04 6.8%,
    0.06 9.07%,
    0.1 11.33%,
    0.14 13.6%,
    0.25 18.15%,
    0.39 22.7%,
    0.56 27.25%,
    0.77 31.8%,
    1 36.35%,
    0.89 40.9%,
    0.85 43.18%,
    0.81 45.45%,
    0.79 47.72%,
    0.77 50%,
    0.75 52.27%,
    0.75 54.55%,
    0.75 56.82%,
    0.77 59.1%,
    0.79 61.38%,
    0.81 63.65%,
    0.85 65.93%,
    0.89 68.2%,
    1 72.7%,
    0.97 74.98%,
    0.95 77.25%,
    0.94 79.53%,
    0.94 81.8%,
    0.94 84.08%,
    0.95 86.35%,
    0.97 88.63%,
    1 90.9%,
    0.99 93.18%,
    0.98 95.45%,
    0.99 97.73%,
    1 100%
  );
  --elastic-timing-function: linear(
    0 0%,
    0.22 2.1%,
    0.86 6.5%,
    1.11 8.6%,
    1.3 10.7%,
    1.35 11.8%,
    1.37 12.9%,
    1.37 13.7%,
    1.36 14.5%,
    1.32 16.2%,
    1.03 21.8%,
    0.94 24%,
    0.89 25.9%,
    0.88 26.85%,
    0.87 27.8%,
    0.87 29.25%,
    0.88 30.7%,
    0.91 32.4%,
    0.98 36.4%,
    1.01 38.3%,
    1.04 40.5%,
    1.05 42.7%,
    1.05 44.1%,
    1.04 45.7%,
    1 53.3%,
    0.99 55.4%,
    0.98 57.5%,
    0.99 60.7%,
    1 68.1%,
    1.01 72.2%,
    1 86.7%,
    1 100%
  );
}

/* ----------------------------- */
/* RESET STYLE                   */
/* ----------------------------- */
* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
textarea,
input {
  border: 0;
  outline: 0;
}

/* ----------------------------- */
/* GENERAL STYLE                 */
/* ----------------------------- */
svg {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-green-glow);
  &.svg-filter {
    position: absolute;
  }
}

/* ----------------------------- */
/* HTML & BODY STYLE             */
/* ----------------------------- */
* {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--color-dark);
  min-width: var(--body-min-width);
  transition: var(--transition-duration);
}

/* ----------------------------- */
/* BACKGROUND STYLE              */
/* ----------------------------- */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  & svg {
    color: var(--color-green-more-faded);
    & .animated {
      color: var(--color-green-glow);
      stroke-dasharray: 8 300;
      stroke-dashoffset: -300;
      filter: drop-shadow(0 0 2px currentColor);
      animation: circuit-flow 6s linear infinite;
    }
  }
}

/* ----------------------------- */
/* ANIMATIONS                    */
/* ----------------------------- */
@keyframes circuit-flow {
  to {
    stroke-dashoffset: 308;
  }
}

@media screen and (min-width: 768px) {
  body #root {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: "HEADER MAIN" "HEADER FOOTER";
  }
}
